<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589468369544-r2fl89ulmnpvbuu7g8j4hhf073gqvcml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589468369544-r2fl89ulmnpvbuu7g8j4hhf073gqvcml</string>
	<key>API_KEY</key>
	<string>AIzaSyAZSd2fif79PlgsKIagUXOEl5VSpJTPjuU</string>
	<key>GCM_SENDER_ID</key>
	<string>589468369544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csiramone.todoListProvider</string>
	<key>PROJECT_ID</key>
	<string>todo-list-provider-csi</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-provider-csi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589468369544:ios:c51051e5de7771fa16d53d</string>
</dict>
</plist>

